{% extends 'base.html' %}

{% block content %}
    <h2>Попытки рассылок</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Рассылка</th>
            <th>Дата отправки</th>
            <th>Статус</th>
            <th>Ответ сервера</th>
        </tr>
        {% for attempt in attempts %}
        <tr>
            <td>{{ attempt.id }}</td>
            <td>{{ attempt.mailing }}</td>
            <td>{{ attempt.last_sanding_data }}</td>
            <td>{{ attempt.status }}</td>
            <td>{{ attempt.server_answer }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}