
{% extends 'base.html' %}

{% block content %}

<h1>{{ message }}</h1>

{% if not user.is_manager %}

<a href="{% url 'mailing:read_clients' %}">Посмотреть моих клиентов</a>
<br>
<a href="{% url 'mailing:create_client' %}">Создать клиента</a>
<br>
<a href="{% url 'mailing:read_mailing' %}">Посмотреть мои рассылки</a>
<br>
<a href="{% url 'mailing:create_mailing' %}">Создать рассылку</a>
<br>
<a href="{% url 'mailing:read_messages' %}">Посмотреть мои сообщения</a>
<br>
<a href="{% url 'mailing:create_message' %}">Создать сообщение</a>
{% else %}
<a href="{% url 'view_users' %}">Посмотреть список пользователей</a>

<br>
<a href="{% url 'view_mailings' %}">Посмотреть рассылки</a>
<br>
{% endif %}
{% endblock %}